<link rel="stylesheet" type="text/css" href="<%= asset_path('home.css') %>">
 <div class="scroll-container">
  <img src="<%= asset_path('dune_poster.jpeg') %>" alt="asd">
   <img src="<%= asset_path('kunfu_poster.jpeg') %>" alt="asd">
   <img src="<%= asset_path('kong.jpeg') %>" alt="asd">
    <img src="<%= asset_path('polg.jpeg') %>" alt="asd">
        <img src="<%= asset_path('sleep.jpeg') %>" alt="asd">
</div> 
